body{
    margin: 0;
}
header{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    position: sticky;
    height: 5em;
    top: 0;
}
.navis{
    display: flex;


}
nav{
    display: flex;
    gap: 20em;
}
.first-nav{
    display: flex;
    gap: 1em;
    border: 1px solid white;

    
}
.first-nav li a{
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    
}
.first-nav li{
    margin-top: 1em;
}
.second-nav{
    display: flex;
    gap: 3em;
    border: 1px solid white;   
}
.second-nav li{
    margin-top: 1em;
}
.second-nav li a{
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
}
.notion-id{
    width: 8em;
    height: 4em;
    margin-top: 1em;
    
 
}